doc/main.bbl
doc/main.blg
doc/main.dvi
doc/main.aux
doc/main.log
doc/main.out
doc/main.pdf
doc/main.synctex.gz
doc/main.lof
doc/main.toc
doc/main.pyg
doc/texput.log
doc/main.lot
*.pyc
*__pycache__
*/__pycache__
*.pytest_cache
*/.pytest_cache
*/.cache/
.hypothesis/
.vscode